n8n-workflows/02-daily-posting.json
{
  "name": "Reddit Growth - Daily Posting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 9,
              "triggerAtMinute": 15
            },
            {
              "field": "hours",
              "triggerAtHour": 13,
              "triggerAtMinute": 30
            },
            {
              "field": "hours",
              "triggerAtHour": 18,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule 3x Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_URL }}/posts/process",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"limit\": 10\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "process-posts",
      "name": "Process Scheduled Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-failures",
              "leftValue": "={{ $json.failed || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-failures",
      "name": "Any Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 250]
    },
    {
      "parameters": {
        "jsCode": "// Log successful run\nconst result = $input.first().json;\n\nreturn {\n  status: 'success',\n  timestamp: new Date().toISOString(),\n  processed: result.processed || 0,\n  success: result.success || 0,\n  failed: result.failed || 0,\n  skipped: result.skipped || 0\n};"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 350]
    },
    {
      "parameters": {
        "jsCode": "// Log failures for review\nconst result = $input.first().json;\n\nconsole.error('Posting failures:', JSON.stringify(result.errors || []));\n\nreturn {\n  status: 'has_failures',\n  timestamp: new Date().toISOString(),\n  processed: result.processed || 0,\n  success: result.success || 0,\n  failed: result.failed || 0,\n  skipped: result.skipped || 0,\n  errors: result.errors || []\n};"
      },
      "id": "log-failures",
      "name": "Log Failures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "jsCode": "// Log API error\nconst error = $input.first().json;\n\nconsole.error('Posting API error:', JSON.stringify(error));\n\nreturn {\n  status: 'api_error',\n  timestamp: new Date().toISOString(),\n  error: error.message || error.detail || 'Unknown API error'\n};"
      },
      "id": "log-api-error",
      "name": "Log API Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 450]
    }
  ],
  "connections": {
    "Schedule 3x Daily": {
      "main": [
        [
          {
            "node": "Process Scheduled Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Scheduled Posts": {
      "main": [
        [
          {
            "node": "Any Failures?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Failures?": {
      "main": [
        [
          {
            "node": "Log Failures",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reddit-growth"
    }
  ],
  "pinData": {},
  "meta": {
    "notes": "Processes scheduled posts 3x daily at optimal Reddit engagement times (9:15am, 1:30pm, 6:45pm ET). Staggered minutes avoid exact-hour bot patterns."
  }
}
