n8n-workflows/03-mention-monitoring.json
{
  "name": "Reddit Growth - Mention Monitoring (In-House)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.WORKER_URL}}/mentions/scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"limit_per_keyword\": 25,\n  \"time_filter\": \"day\",\n  \"include_comments\": true\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "scan-keywords",
      "name": "Scan Reddit for Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-new-mentions",
              "leftValue": "={{$json.total_new_mentions || $json.mentions_new || 0}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-new-mentions",
      "name": "Has New Mentions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.WORKER_URL}}/mentions/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"limit\": 20\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "process-mentions",
      "name": "Process & Reply to Mentions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "jsCode": "// Log the scan results\nconst scan = $input.first().json;\n\nreturn {\n  summary: `Scanned ${scan.clients_scanned || 1} client(s). Found ${scan.total_mentions_found || scan.mentions_found || 0} mentions, ${scan.total_new_mentions || scan.mentions_new || 0} new.`,\n  clients_scanned: scan.clients_scanned || 1,\n  total_found: scan.total_mentions_found || scan.mentions_found || 0,\n  new_mentions: scan.total_new_mentions || scan.mentions_new || 0,\n  scan_time: scan.scan_time || new Date().toISOString()\n};"
      },
      "id": "log-results",
      "name": "Log Scan Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "channel": "#reddit-growth-alerts",
        "text": "=:mag: *Reddit Scan Complete*\n\n{{$json.summary}}\n\nNew mentions will be processed for replies.",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Slack Notification (Optional)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1250, 200],
      "credentials": {
        "slackApi": {
          "id": "slack-creds",
          "name": "Slack API"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Scan Reddit for Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Reddit for Keywords": {
      "main": [
        [
          {
            "node": "Has New Mentions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Mentions?": {
      "main": [
        [
          {
            "node": "Process & Reply to Mentions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Scan Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Reply to Mentions": {
      "main": [
        [
          {
            "node": "Slack Notification (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reddit-growth"
    }
  ],
  "meta": {
    "notes": "This workflow uses our in-house Reddit monitoring instead of F5Bot. It calls /mentions/scan which searches Reddit for all client keywords, scores mentions with AI, and saves them to the database. No F5Bot subscription required!"
  }
}
