n8n-workflows/03-mention-monitoring.json
{
  "name": "Reddit Growth - Mention Monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 20 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_URL }}/mentions/scan",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"limit_per_keyword\": 25,\n  \"time_filter\": \"day\",\n  \"include_comments\": true\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "scan-keywords",
      "name": "Scan Reddit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-new-mentions",
              "leftValue": "={{ $json.total_new_mentions || $json.mentions_new || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-new-mentions",
      "name": "New Mentions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_URL }}/mentions/process",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"limit\": 20\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "process-mentions",
      "name": "Process Mentions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 150],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log successful processing\nconst scan = $('Scan Reddit').first().json;\nconst process = $input.first().json;\n\nreturn {\n  status: 'processed',\n  timestamp: new Date().toISOString(),\n  scan: {\n    clients_scanned: scan.clients_scanned || 1,\n    mentions_found: scan.total_mentions_found || scan.mentions_found || 0,\n    new_mentions: scan.total_new_mentions || scan.mentions_new || 0\n  },\n  replies: {\n    processed: process.processed || 0,\n    replied: process.replied || 0,\n    skipped: process.skipped || 0,\n    failed: process.failed || 0\n  }\n};"
      },
      "id": "log-processed",
      "name": "Log Processed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "jsCode": "// Log process errors\nconst error = $input.first().json;\n\nconsole.error('Mention processing error:', JSON.stringify(error));\n\nreturn {\n  status: 'process_error',\n  timestamp: new Date().toISOString(),\n  error: error.message || error.detail || 'Unknown error'\n};"
      },
      "id": "log-process-error",
      "name": "Log Process Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "jsCode": "// Log no new mentions\nconst scan = $input.first().json;\n\nreturn {\n  status: 'no_new_mentions',\n  timestamp: new Date().toISOString(),\n  clients_scanned: scan.clients_scanned || 1,\n  total_found: scan.total_mentions_found || scan.mentions_found || 0,\n  new_mentions: 0\n};"
      },
      "id": "log-no-mentions",
      "name": "Log No New",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 350]
    },
    {
      "parameters": {
        "jsCode": "// Log scan error\nconst error = $input.first().json;\n\nconsole.error('Reddit scan error:', JSON.stringify(error));\n\nreturn {\n  status: 'scan_error',\n  timestamp: new Date().toISOString(),\n  error: error.message || error.detail || 'Unknown error'\n};"
      },
      "id": "log-scan-error",
      "name": "Log Scan Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 450]
    }
  ],
  "connections": {
    "Every 20 Minutes": {
      "main": [
        [
          {
            "node": "Scan Reddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Reddit": {
      "main": [
        [
          {
            "node": "New Mentions?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Scan Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Mentions?": {
      "main": [
        [
          {
            "node": "Process Mentions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Mentions": {
      "main": [
        [
          {
            "node": "Log Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Process Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reddit-growth"
    },
    {
      "name": "core"
    }
  ],
  "pinData": {},
  "meta": {
    "notes": "CORE WORKFLOW: Scans Reddit every 20 minutes for keyword mentions across all clients. When new mentions are found, automatically generates AI replies and posts them. This is the primary growth driver."
  }
}
