n8n-workflows/04-daily-warmup.json
{
  "name": "Reddit Growth - Daily Warmup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 8:30am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_URL }}/warmup/process",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 1800000
        }
      },
      "id": "warmup-accounts",
      "name": "Process Warmup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-new-ready",
              "leftValue": "={{ $json.fully_warmed || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-new-ready",
      "name": "New Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 250]
    },
    {
      "parameters": {
        "jsCode": "// Log accounts now ready for marketing\nconst result = $input.first().json;\n\nconsole.log('ACCOUNTS READY:', result.fully_warmed);\n\nreturn {\n  status: 'accounts_ready',\n  timestamp: new Date().toISOString(),\n  newly_ready: result.fully_warmed,\n  processed: result.processed || 0,\n  actions_performed: result.actions_performed || 0,\n  stages: result.stages || {},\n  message: `${result.fully_warmed} account(s) are now fully warmed and ready for marketing!`\n};"
      },
      "id": "log-ready",
      "name": "Log Ready",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "jsCode": "// Log warmup progress\nconst result = $input.first().json;\n\nreturn {\n  status: 'warmup_complete',\n  timestamp: new Date().toISOString(),\n  processed: result.processed || 0,\n  actions_performed: result.actions_performed || 0,\n  stages: result.stages || {},\n  errors: result.errors || []\n};"
      },
      "id": "log-progress",
      "name": "Log Progress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 350]
    },
    {
      "parameters": {
        "jsCode": "// Log API error\nconst error = $input.first().json;\n\nconsole.error('Warmup API error:', JSON.stringify(error));\n\nreturn {\n  status: 'warmup_error',\n  timestamp: new Date().toISOString(),\n  error: error.message || error.detail || 'Unknown error'\n};"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 450]
    }
  ],
  "connections": {
    "Daily 8:30am": {
      "main": [
        [
          {
            "node": "Process Warmup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Warmup": {
      "main": [
        [
          {
            "node": "New Ready?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Ready?": {
      "main": [
        [
          {
            "node": "Log Ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reddit-growth"
    }
  ],
  "pinData": {},
  "meta": {
    "notes": "Daily account warmup at 8:30am ET. Progresses accounts through 5 warmup stages over ~14 days. Logs when accounts become ready for marketing."
  }
}
