n8n-workflows/05-daily-metrics.json
{
  "name": "Reddit Growth - Daily Metrics Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 1,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 1:15am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_URL }}/metrics/sync",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 1800000
        }
      },
      "id": "sync-metrics",
      "name": "Sync Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log metrics sync results\nconst result = $input.first().json;\n\nreturn {\n  status: 'sync_complete',\n  timestamp: new Date().toISOString(),\n  posts: {\n    processed: result.posts_processed || 0,\n    updated: result.posts_updated || 0\n  },\n  replies: {\n    processed: result.replies_processed || 0,\n    updated: result.replies_updated || 0\n  },\n  daily_metrics_updated: result.daily_metrics_updated || 0,\n  errors: result.errors || []\n};"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 250]
    },
    {
      "parameters": {
        "jsCode": "// Log API error\nconst error = $input.first().json;\n\nconsole.error('Metrics sync error:', JSON.stringify(error));\n\nreturn {\n  status: 'sync_error',\n  timestamp: new Date().toISOString(),\n  error: error.message || error.detail || 'Unknown error'\n};"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 400]
    }
  ],
  "connections": {
    "Daily 1:15am": {
      "main": [
        [
          {
            "node": "Sync Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Metrics": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reddit-growth"
    }
  ],
  "pinData": {},
  "meta": {
    "notes": "Nightly metrics sync at 1:15am ET. Pulls latest upvotes/comments from Reddit for all posts and replies, updates karma stats, and computes daily aggregates."
  }
}
