n8n-workflows/06-account-verification.json
{
  "name": "Reddit Growth - Weekly Account Verification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": 1,
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Monday 7:30am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_URL }}/accounts/verify-all",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "verify-accounts",
      "name": "Verify Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-issues",
              "leftValue": "={{ ($json.suspended || 0) + ($json.failed || 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-issues",
      "name": "Any Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 250]
    },
    {
      "parameters": {
        "jsCode": "// Log account issues - CRITICAL\nconst result = $input.first().json;\n\nconsole.error('ACCOUNT ISSUES DETECTED:', JSON.stringify({\n  suspended: result.suspended,\n  failed: result.failed,\n  errors: result.errors\n}));\n\nreturn {\n  status: 'issues_detected',\n  severity: 'critical',\n  timestamp: new Date().toISOString(),\n  verified: result.verified || 0,\n  suspended: result.suspended || 0,\n  failed: result.failed || 0,\n  errors: result.errors || [],\n  message: `WARNING: ${result.suspended || 0} suspended, ${result.failed || 0} failed accounts`\n};"
      },
      "id": "log-issues",
      "name": "Log Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "jsCode": "// Log all accounts verified successfully\nconst result = $input.first().json;\n\nreturn {\n  status: 'all_verified',\n  timestamp: new Date().toISOString(),\n  verified: result.verified || 0,\n  message: `All ${result.verified || 0} accounts verified successfully`\n};"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 350]
    },
    {
      "parameters": {
        "jsCode": "// Log API error\nconst error = $input.first().json;\n\nconsole.error('Account verification API error:', JSON.stringify(error));\n\nreturn {\n  status: 'verification_error',\n  timestamp: new Date().toISOString(),\n  error: error.message || error.detail || 'Unknown error'\n};"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 450]
    }
  ],
  "connections": {
    "Monday 7:30am": {
      "main": [
        [
          {
            "node": "Verify Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Accounts": {
      "main": [
        [
          {
            "node": "Any Issues?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Issues?": {
      "main": [
        [
          {
            "node": "Log Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reddit-growth"
    }
  ],
  "pinData": {},
  "meta": {
    "notes": "Weekly health check every Monday 7:30am ET. Verifies all Reddit account credentials are still valid, detects suspensions/shadowbans. Check N8N execution logs for issues."
  }
}
